@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Karla", sans-serif; }

.container {
  height: 100%; }

.navbar {
  display: flex;
  padding: 1.5rem 14rem;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    width: 10rem;
    height: 1.8rem; }
  .navbar__items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar__item {
    text-decoration: none;
    margin-right: 2rem; }
  .navbar__links {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    color: #837d87; }
  .navbar__button {
    padding: .8rem 2rem;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: #fff;
    color: #2b272f;
    border: 2px solid #2b272f; }

.hero {
  display: flex;
  justify-content: center;
  padding: 12rem;
  background-color: #2d2640;
  max-height: 47rem;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg), url(../images/bg-pattern-intro-right-desktop.svg);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: 30rem; }
  .hero__left-section {
    margin-right: 3rem; }
  .hero__box {
    padding-top: 4rem;
    width: 12rem;
    height: 1rem;
    position: relative; }
  .hero__borderTop {
    position: absolute;
    border-top: 1px solid white;
    top: 0;
    width: 100%; }
  .hero__right-section {
    width: 43rem;
    min-height: 46rem; }
  .hero__heading {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: .8;
    color: #fff;
    width: 35rem; }
  .hero__paragraph {
    color: #fff;
    font-size: 1.2rem;
    font-family: "karla", sans-serif;
    line-height: 1.6;
    max-width: 41.5rem; }
  .hero__button {
    border: none;
    padding: .8rem 2rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    background: none;
    border: 2px solid #fff; }
  .hero__image {
    width: 100%;
    height: 100%; }

.main {
  padding: 25rem 10rem 14rem 14rem; }
  .main__box {
    padding-top: 4rem;
    width: 15rem;
    height: 1rem;
    position: relative; }
  .main__borderTop {
    position: absolute;
    border-top: 1px solid #837d87;
    top: 0;
    width: 100%; }
  .main__heading {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 7rem; }
  .main__container {
    display: flex; }
    .main__container--col {
      max-width: 39rem;
      margin-right: 3rem; }
    .main__container--heading {
      font-family: 'DM Serif Display', serif;
      font-weight: 400;
      font-size: 2.8rem; }
    .main__container--paragraph {
      font-family: "karla", sans-serif;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 1.7;
      color: #837d87; }

.how-we-work {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 8rem;
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }
  .how-we-work__heading {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 4rem; }

.footer {
  padding: 7rem 18rem;
  background-color: #fafafa;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 40rem; }
  .footer__top-section {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #837d87; }
  .footer__icons:not(:last-of-type) {
    margin-right: 1.5rem; }
  .footer__bottom-section {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem)); }
  .footer__header {
    text-transform: uppercase;
    color: #837d87;
    font-family: "karla", sans-serif;
    font-weight: 700;
    margin-bottom: 2rem; }
  .footer__items {
    list-style: none; }
  .footer__item {
    text-decoration: none; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-xl {
  margin-bottom: 3rem; }

.mb-xxl {
  margin-bottom: 6rem; }

.mt-sm {
  margin-top: 1rem; }

.mt-md {
  margin-top: 2rem; }

.mt-xl {
  margin-top: 3rem; }

.mt-xxl {
  margin-top: 6rem; }
