@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 62.5%;     //1rem = 10px
    min-height: 100vh;
}

body {
    min-height: 100vh;
    box-sizing: border-box;

    font-family: "Karla", sans-serif;
}


.container {
    height: 100%;
}

.navbar {
    display: flex;
    padding: 1.5rem 14rem;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 10rem;
        height: 1.8rem;
    }

    &__items {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        text-decoration: none;
        margin-right: 2rem;
    }

    &__links {
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: 2px;
        color: hsl(273, 4%, 51%);

        &:hover {
            color: hsl(270, 9%, 17%);
        }
    }

    &__button {
        padding: .8rem 2rem;
        font-family: "Karla", sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: #fff;
        color: hsl(270, 9%, 17%);
        border: 2px solid hsl(270, 9%, 17%);
        cursor: pointer;

        &:hover {
            background-color:hsl(270, 9%, 17%);
            color: #fff;
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    padding: 10rem ;
    background-color: hsl(256, 26%, 20%);
    max-height: 47rem;
    position: relative;

    & * {
        z-index: 1;
    }

    &::after {
        content: '';
        background-image: url('../images/bg-pattern-intro-right-desktop.svg');
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: 2;
    }

    &::before {
        content: '';
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        position: absolute;
        bottom: -65%;
        left: 0;
        height: 108%;
        width: 100%;
        z-index: 0;
    }
        



    &__left-section {
        margin-right: 3rem;
    }
    
    
    &__box {
        padding-top: 6rem;
        width: 12rem;
        height: 1rem;
        position: relative;
    }

    &__borderTop {
        position: absolute;
        border-top: 1px solid white;
        top: 0;
        width: 100%;
    }

    &__right-section {
        max-width: 43rem;
        min-height: 46rem;

    }

    &__heading {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 5rem;
        line-height: .8;
        color: #fff;
        width: 35rem;
    }

    &__paragraph {
        color: #fff;
        font-size: 1.2rem;
        font-family: "karla", sans-serif;
        line-height: 1.6;
        max-width: 41.5rem;
    }

    &__button {
        border: none;
        padding: .8rem 2rem;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #fff;
        background: none;
        border: 2px solid #fff;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: hsl(270, 9%, 17%);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}

.main {
    padding: 25rem 10rem 14rem 14rem;

    &__box {
        padding-top: 4rem;
        width: 15rem;
        height: 1rem;
        position: relative;
    }

    &__borderTop {
        position: absolute;
        border-top: 1px solid hsl(273, 4%, 51%);
        top: 0;
        width: 100%;
    }


    &__heading {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 7rem;
    }
    
    &__container {
        display: flex;
        
        &--col {
            max-width: 39rem;
            margin-right: 3rem;
        }
        
        &--heading {
            font-family: 'DM Serif Display', serif;
            font-weight: 400;
            font-size: 2.8rem;
        }

        &--paragraph {
            font-family: "karla", sans-serif;
            font-weight: 700;
            font-size: 1.7rem;
            line-height: 1.7;
            color:  hsl(273, 4%, 51%);
        }
    }
}

.how-we-work {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 8rem;
    background-color: hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;


    &__heading {
        color: #fff;
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 4rem;
    }    
}

.footer {
    padding: 7rem 18rem;
    background-color: hsl(0, 0%, 98%);
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 40rem;
    font-family: "karla", sans-serif;

   

    &__top-section {
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid hsl(273, 4%, 51%);
        
    }

    &__icons {
        width: 2rem;
        height: 2rem;
        &:not(:last-of-type) {
            margin-right: 1.5rem;
        }
    }

    &__bottom-section {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 26rem));
        grid-gap: 2rem;
    }

    &__header {
        text-transform: uppercase;
        color:  hsl(273, 4%, 51%);
        font-family: inherit;
        font-weight: 700;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
    
    &__items {
        list-style: none;
    }
    
    &__item {
        margin-bottom: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
    }
}



//Utilites helper classes

.mb-sm {
    margin-bottom: 1rem;
}
.mb-md {
    margin-bottom: 2rem;
}
.mb-xl {
    margin-bottom: 3rem;
}
.mb-xxl {
    margin-bottom: 6rem;
}

.mt-sm {
    margin-top: 1rem;
}
.mt-md {
    margin-top: 2rem;
}
.mt-xl {
    margin-top: 3rem;
}
.mt-xxl {
    margin-top: 6rem;
}